In [7]:
1. Uma indústria inspecionou 30 aparelhos fabricados por certa máquina, obtendo os
seguintes números de defeitos por aparelho.
1 0 2 0 1 1 4 0 2 3 2 2 1 0 0
0 2 1 1 0 0 4 2 1 0 0 0 0 1 2
Elabore uma distribuição de frequência e calcule a frequência acumulada e relativa

SyntaxError: invalid syntax (3372830857.py, line 1)

In [ ]:
import pandas as pd

In [ ]:
data = [1, 0, 2, 0, 1, 1, 4, 0, 2, 3, 2, 2, 1, 0, 0,0, 2, 1, 1, 0, 0, 4, 2, 1, 0, 0, 0, 0,1, 2]
rol_data = sorted(data)

In [ ]:
print(rol_data, end='')

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 4, 4]

In [ ]:
df = pd.DataFrame(rol_data, columns= ['Valores'])
df

    Valores
0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        2
21        2
22        2
23        2
24        2
25        2
26        2
27        3
28        4
29        4

In [ ]:
df.value_counts()

Valores
0          12
1           8
2           7
4           2
3           1
Name: count, dtype: int64

In [ ]:
tabela_frequencia = df.groupby('Valores').size().reset_index(name='Frequência Absoluta')

In [ ]:
tabela_frequencia

   Valores  Frequência Absoluta
0        0                   12
1        1                    8
2        2                    7
3        3                    1
4        4                    2

In [ ]:
cont = 0
frequencia_absoluta = []
for x in range(0, len(tabela_frequencia['Frequência'])):
    frequencia_absoluta.append(tabela_frequencia['Frequência'][x])
    cont+=tabela_frequencia['Frequência'][x]
frequencia_total = cont

In [ ]:
frequencia_absoluta

[12, 8, 7, 1, 2]

# Frequencia relatica:
fr = fa / ft

In [ ]:
frequencia_acumulativa = []
frequencia_absoluta = sorted(frequencia_absoluta)
acumulativo = 0
for x in range(0, len(frequencia_absoluta)):
    acumulativo+=frequencia_absoluta[x]
    frequencia_acumulativa.append(acumulativo)

In [ ]:
frequencia_relativa = []
for x in range(0, len(frequencia_absoluta)):
    frequencia_relativa.append(frequencia_absoluta[x] / frequencia_total)

In [ ]:
frequencia_relativa

[0.03333333333333333,
 0.06666666666666667,
 0.23333333333333334,
 0.26666666666666666,
 0.4]

In [ ]:
frequencia_absoluta

[1, 2, 7, 8, 12]

In [ ]:
frequencia_total

30

In [ ]:
frequencia_acumulativa

[1, 3, 10, 18, 30]

In [ ]:
tabela_frequencia

   Valores  Frequência Absoluta
0        0                   12
1        1                    8
2        2                    7
3        3                    1
4        4                    2

In [ ]:
tabela_frequencia['Acumulativa'] = frequencia_acumulativa
tabela_frequencia['Relativa'] = frequencia_relativa

In [ ]:
tabela_frequencia

   Acumulativa  Valores  Relativa
0           18        3  0.266667
1           30        4  0.400000
2           10        2  0.233333
3            3        1  0.066667
4            1        0  0.033333