In [41]:
'''1. Uma indústria inspecionou 30 aparelhos fabricados por certa máquina, obtendo os
seguintes números de defeitos por aparelho.
1 0 2 0 1 1 4 0 2 3 2 2 1 0 0
0 2 1 1 0 0 4 2 1 0 0 0 0 1 2
Elabore uma distribuição de frequência e calcule a frequência acumulada e relativa'''

'1. Uma indústria inspecionou 30 aparelhos fabricados por certa máquina, obtendo os\nseguintes números de defeitos por aparelho.\n1 0 2 0 1 1 4 0 2 3 2 2 1 0 0\n0 2 1 1 0 0 4 2 1 0 0 0 0 1 2\nElabore uma distribuição de frequência e calcule a frequência acumulada e relativa'

In [42]:
import pandas as pd

In [43]:
data = [1, 0, 2, 0, 1, 1, 4, 0, 2, 3, 2, 2, 1, 0, 0,0, 2, 1, 1, 0, 0, 4, 2, 1, 0, 0, 0, 0,1, 2]
rol_data = sorted(data)

In [44]:
print(rol_data, end='')

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 4, 4]

In [45]:
df = pd.DataFrame(rol_data, columns= ['Valores'])
df

    Valores
0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        2
21        2
22        2
23        2
24        2
25        2
26        2
27        3
28        4
29        4

In [46]:
df.value_counts()

Valores
0          12
1           8
2           7
4           2
3           1
Name: count, dtype: int64

In [47]:
tabela_frequencia = df.groupby('Valores').size().reset_index(name='Frequência Absoluta')

In [48]:
tabela_frequencia

   Valores  Frequência Absoluta
0        0                   12
1        1                    8
2        2                    7
3        3                    1
4        4                    2

In [49]:
cont = 0
frequencia_absoluta = []
for x in range(0, len(tabela_frequencia['Frequência Absoluta'])):
    frequencia_absoluta.append(tabela_frequencia['Frequência Absoluta'][x])
    cont+=tabela_frequencia['Frequência Absoluta'][x]
frequencia_total = cont

In [50]:
frequencia_absoluta

[12, 8, 7, 1, 2]

# Frequencia relatica:
fr = fa / ft

In [51]:
frequencia_acumulativa = []
frequencia_absoluta = frequencia_absoluta
acumulativo = 0
for x in range(0, len(frequencia_absoluta)):
    acumulativo+=frequencia_absoluta[x]
    frequencia_acumulativa.append(acumulativo)

In [52]:
frequencia_relativa = []
for x in range(0, len(frequencia_absoluta)):
    frequencia_relativa.append(frequencia_absoluta[x] / frequencia_total)

In [53]:
frequencia_relativa

[0.4,
 0.26666666666666666,
 0.23333333333333334,
 0.03333333333333333,
 0.06666666666666667]

In [54]:
frequencia_absoluta

[12, 8, 7, 1, 2]

In [55]:
frequencia_total

30

In [56]:
frequencia_acumulativa

[12, 20, 27, 28, 30]

In [57]:
tabela_frequencia

   Valores  Frequência Absoluta
0        0                   12
1        1                    8
2        2                    7
3        3                    1
4        4                    2

In [58]:
tabela_frequencia['Acumulativa'] = frequencia_acumulativa
tabela_frequencia['Relativa'] = frequencia_relativa
tabela_frequencia.drop('')

KeyError: "[''] not found in axis"

In [ ]:
tabela_frequencia.drop('Frequência Absoluta', axis=1, inplace=True)

In [ ]:
tabela_frequencia_valores_sorted = sorted(tabela_frequencia['Valores'])
tabela_frequencia_valores_sorted

[0, 1, 2, 3, 4]

In [ ]:
df.value_counts()

Valores
0          12
1           8
2           7
4           2
3           1
Name: count, dtype: int64

In [ ]:
tabela_frequencia = df.groupby('Valores').size().reset_index(name='Frequência Absoluta')

In [59]:
frequencia_acumulativa = []
frequencia_absoluta = frequencia_absoluta
acumulativo = 0
for x in range(0, len(tabela_frequencia['Frequência Absoluta'])):
    acumulativo+=tabela_frequencia['Frequência Absoluta'][x]
    frequencia_acumulativa.append(acumulativo)
frequencia_acumulativa
tabela_frequencia['Acumulatica'] = frequencia_acumulativa

In [60]:
tabela_frequencia

   Valores  Frequência Absoluta  Acumulativa  Relativa  Acumulatica
0        0                   12           12  0.400000           12
1        1                    8           20  0.266667           20
2        2                    7           27  0.233333           27
3        3                    1           28  0.033333           28
4        4                    2           30  0.066667           30